<mat-card class="example-card">

<mat-card-actions>  
    <h3> login with user:</h3>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input  [(ngModel)] = "email" 
                name = "email" 
                matInput placeholder="Email" >
      </mat-form-field>
      <p  class = "error" *ngIf = "code=='auth/invalid-email'">
        {{message}}   
      </p>
      <p  class = "error" *ngIf = "email==null">
        {{required}}   
      </p>
    </mat-card-content>

  <mat-card-content>
      <mat-form-field class="example-full-width">
          <input  type = "password"
                  [(ngModel)] = "password" 
                  name = "password" 
                  matInput placeholder="Password">
        </mat-form-field>
        <p  class = "error" *ngIf = "code=='auth/wrong-password'">
          {{message}}   
      </p>
      <p  class = "error" *ngIf = "password==null">
          {{required}}   
        </p>
    </mat-card-content> 

    <mat-card-actions class="signup-button">
        <button  mat-stroked-button color="primary" (click)="login()">Login</button>
      </mat-card-actions>
  </mat-card-actions>
</mat-card>