<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="head-line">my app</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
      <button *ngIf="authService.user | async" mat-raised-button class="nav-side" (click)= "toWelcome()">
       Welcome
    </button>     
    <button mat-raised-button class="nav-side" (click)="toSingup()">
        sing up 
    </button>
    <button mat-raised-button class="nav-side" *ngIf="!(authService.user | async)" (click)="toLogin()">
        Login
    </button>
    <button *ngIf="authService.user | async" mat-raised-button class="nav-side" (click)="logOut()">
        Logout
    </button>
   
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<!--קריאה ליוזר, ?-קיים נמשוך, לא קיים לא ימשך-->
<div *ngIf="authService.user | async">
    <h1>
        Welcome {{  (authService.user | async)?.displayName}}
    </h1>
  </div>