<div (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
   
    <span *ngIf ="!showEditField" (click) = "showEdit()" style="margin-left: 20px;" >{{text}}</span>  <!--כאשל לוחצים על הטקסט מפעיל את שואואדיט-->
      <mat-checkbox style="float: left;"
          [(ngModel)]="checkboxFlag"
          (change) = "checkChange()">    <!-- אם מתחף מפעיל את הפונקציה -->
      </mat-checkbox>
   <mat-form-field  *ngIf ="showEditField">   <!-- אם נלחץ על הטקסט הנגי איפ יעבוד ויציג את שדה העריכה -->
    <input [(ngModel)] = "text" matInput >
     </mat-form-field>
   
  <button  *ngIf ="showEditField" mat-raised-button (click) = "save()">Save</button>
  <button *ngIf ="showEditField" mat-raised-button (click) = "cancel()">cancel</button>
  <button mat-raised-button (click) = "deleteTodo()">Click to delete </button>


</div>